<div class="page-header">
  <h1>All Exchange Transactions</h1>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
    <th> Exchange ID</th>
    <th> Listing </th>
    <th> Price </th>
    <th> Buyer </th>
    <th> Seller </th>
  </thead>

  <tbody>
    <%= render @exchanges %>
  </tbody>
</table>