<div class="page-header">
  <h1>Exchange History</h1>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
    <tr>
      <th> Exchange ID</th>
      <th> Listing </th>
      <th> Price </th>
      <th> Buyer </th>
      <th> Seller </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @exchanges %>
  </tbody>
</table>
