	<div class="thumbnail warning">
		<h1  class="text-center">
			<a href=<%= book_listing_path(listing.book, listing) %>>$<%= listing.max_price %></a>
		</h1>
		<h3 class="text-center">
			<%= listing.exchange_type %>
		
		<div class="caption">
			<h3 class='text-center'><%= listing.quality %></h3>
		</div>
	</div>
