<a href=<%= book_listing_path(listing.book, listing) %> class="thumbnail text-center">
	<div class="caption">
		<h1>$<%= listing.min_price.round %></h1>
		<h3><%= show_type(listing) %></h3>
		<h3> <%= show_quality(listing) %> </h3>
	</div>
</a>
