/* line 1, /home/rbrigden/.gem/ruby/gems/devise-bootstrap-views-0.0.4/app/assets/stylesheets/devise_bootstrap_views.scss */
.float-none {
  float: none;
}

/* line 5, /home/rbrigden/.gem/ruby/gems/devise-bootstrap-views-0.0.4/app/assets/stylesheets/devise_bootstrap_views.scss */
.panel-heading {
  padding: 15px;
}
/* line 7, /home/rbrigden/.gem/ruby/gems/devise-bootstrap-views-0.0.4/app/assets/stylesheets/devise_bootstrap_views.scss */
.panel-heading h4 {
  margin: 0px;
}
/* line 1, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_length label {
  font-weight: normal;
  float: left;
  text-align: left;
}

/* line 7, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_length select {
  width: 75px;
}

/* line 11, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_filter label {
  font-weight: normal;
  float: right;
}

/* line 16, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_filter input {
  width: 16em;
}

/* line 20, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_info {
  padding-top: 8px;
}

/* line 24, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_paginate {
  float: right;
  margin: 0;
}

/* line 29, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

/* line 34, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable td,
table.dataTable th {
  box-sizing: content-box;
}

/* line 42, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}

/* line 49, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
}

/* line 57, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting {
  background: url(/assets/dataTables/sort_both-cdd5d9932ad9079d4b4842e5afc93185.png) no-repeat center right;
}

/* line 58, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_asc {
  background: url(/assets/dataTables/sort_asc-02f8ec3af9e0f0b77d8e6d8eef905e3f.png) no-repeat center right;
}

/* line 59, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_desc {
  background: url(/assets/dataTables/sort_desc-2a42e4e71aed04e190c973da11b17188.png) no-repeat center right;
}

/* line 61, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_asc_disabled {
  background: url(/assets/dataTables/sort_asc_disabled-6be7d5b1790cb0415765fae62285c82e.png) no-repeat center right;
}

/* line 62, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead .sorting_desc_disabled {
  background: url(/assets/dataTables/sort_desc_disabled-aa6fbc0a0257123021b59fc2ff6b04d9.png) no-repeat center right;
}

/* line 64, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable thead > tr > th {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 69, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.dataTable th:active {
  outline: none;
}

/* Scrolling */
/* line 74, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 80, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* line 86, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 92, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

/* line 97, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

/* Frustratingly the border-collapse:collapse used by Bootstrap makes the column
   width calculations when using scrolling impossible to align columns. We have
   to use separate
 */
/* line 106, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.table-bordered.dataTable {
  border-collapse: separate !important;
}

/* line 109, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.table-bordered thead th,
table.table-bordered thead td {
  border-left-width: 0;
  border-top-width: 0;
}

/* line 114, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}

/* line 119, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-right-width: 0;
}

/* line 123, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

/*
 * TableTools styles
 */
/* line 133, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}

/* line 139, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}

/* line 144, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
.table tbody tr.active a {
  color: white;
}

/* line 148, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}

/* line 153, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
table.DTTT_selectable tbody tr {
  cursor: pointer;
}

/* line 157, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}

/* line 162, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTTT .btn:hover {
  text-decoration: none !important;
}

/* line 166, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
}

/* line 170, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important;
  /* needed only when demo_page.css is included */
}

/* line 174, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
ul.DTTT_dropdown.dropdown-menu li {
  position: relative;
}

/* line 178, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}

/* line 183, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTTT_collection_background {
  z-index: 2002;
}

/* TableTools information display */
/* line 188, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}

/* line 194, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}

/* line 201, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}

/* line 206, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

/*
 * FixedColumns styles
 */
/* line 231, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
  margin-bottom: 0;
}

/* line 240, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTFC_RightHeadWrapper table,
div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* line 248, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* line 256, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin: 0 !important;
}

/* line 262, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}

/* line 269, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
  border-top: none;
}

/*
 * FixedHeader styles
 */
/* line 278, /home/rbrigden/.gem/ruby/gems/jquery-datatables-rails-3.1.1/app/assets/stylesheets/dataTables/bootstrap/3/jquery.dataTables.bootstrap.css.scss */
div.FixedHeader_Cloned table {
  margin: 0 !important;
}
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 *
 *
 */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

h1.title{
	/*text-decoration: underline;*/
	position: relative;
	text-align: center;
	/*font-family: "SpecialElite", normal;*/
	font-size: 100px;
	top: 100px ;
	margin-right: 200px;
    	margin-left: 200px;
} 

p.description {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

@import "readable";
@import "font-awesome";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

h3.resize {
  font-size: 2.7vmin;
}

h4.resize {
  font-size: 2.3vmin;
}

h5.resize {
  font-size: 2.0vmin;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}


.center-title {
  text-align: center;
  margin-top: 10%;
  position: relative;
  color: white;
  top:15%;
  bottom:10%;
}
  
.btn-xl {  
    padding: 20px 30px;
    font-size: 50px;
    line-height: 2;
    border-radius: 0px;
}

.thumbnail-book{
  position: relative;
  overflow: hidden;
  text-decoration:none;
  min-height:325px;
  color: #333333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.thumbnail-book:hover{
  z-index: 2;
  min-height: 325px;
  height:auto;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.caption-static{
    position:relative;
    top:0;
    right:0;
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
}

.caption-hover {
    position:relative;
    top:0;
    right:0;
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
}
