<h2> Late Pickup Notification for <%= @exchange.listing.book.title %> </h2>

<p> 
The seller <%= show_name(@exchange.listing.user) %> delivered <%= @exchange.listing.book.title %> 7 days ago. Our records show that you have yet to pick the book up from the OWHL.
</p>

<h3>
 Please come to the OWHL and pick up <%= @exchange.listing.book.title %> as soon as possible. %>
</h3>

<p>
If you have any questions, please contact <a href="mailto:owhlibrary@andover.edu?Subject=Book%20Pickup%20Question"> owhlibrary@andover.edu </a> 
<p>

