<div class="row">
<div class="page-header"> 
  <h1> Library Exchange Program </h1>
  <h4>Available as of October 30, 2015</h4>
</div>


	<p class="lead"> Thanks to the dedicated staff of the OWHL, you can now conveniently pick up your purchased books from the library! Book sellers can opt to drop their books at the OWHL, where buyers can pick them up, hassle free. Select the "OWHL Exchange" when listing a book for sale. If your in the market for a textbook, look out for listing with the "OWHL Exchange Available" label. Exchanging textbooks at the OWHL with Andover Book Exchange is a new, easy way to get textbooks off your hands or into your backpack!</p>
	
	<br>
	<h3>For Buyers</h3>
	<p class="lead">
		Once your item has been purchased, bring the item to the OWHL circulation desk and request that the item be put on hold under the buyers name. The OWHL will also request your name as a point of contact should the item not be picked up. The item will remain on hold for 7 days from the day you drop it off.</p>
	<br>

	<h3>For Sellers</h3>
	<p class="lead">
		Once the seller has dropped the book off at the OWHL, you will receive an email notifying you the book is ready to be picked up. You have seven days to do so.
	</p>
	<br>
	<br>
	<%= link_to 'Go Back', :back, class:'btn btn-default' %>
	

</div>


