<div class="page-header"> 
  <h1> Terms of Service </h1>
  <h4>Valid as of March 22, 2015</h4>
</div>

<div class="col-md-6 col-md-offset-3">
	<p>Andover Textbook Exchange (www.andoverbookexchange.com) is a marketplace that allows members of the Phillips Academy community to sell and buy all kinds of books in a variety of pricing formats. The sole function of Andover Book Exchange is to connect buyers and sellers of textbooks. All exchanges, transactions and contracts for sale are made directly between the sellers and buyers. </p>

	<p>Andover Book Exchange has no control over and does not guarantee the existence or quality of items advertised; the truth or accuracy of users' content or listings; the ability of sellers to sell items; the ability of buyers to pay for items; or that a buyer or seller will actually complete a transaction or return an item.</p>

	<p>All users must be members of the Andover community and are held to the community guidelines of Phillips Academy as stated in the “Blue Book” when using our services.</p>

	<p>In connection with using or accessing Andover Book Exchange you will not:</p>

	<ul>
		<li>post, list or upload content or items in inappropriate categories or areas on our sites;</li>
		<li>breach or circumvent any laws, third party rights or our systems, policies, or determinations of your account status;</li>
		<li>use our services if you are suspended from using our sites, services, applications or tools;</li> 
		<li>fail to pay for items purchased by you, unless you have a valid reason as set out in an Andover Book Exchange policy, for example, if you cannot contact the seller;</li>
		<li>fail to deliver items sold by you, unless you have a valid reason as set out in an Andover Book Exchange policy, for example, the buyer fails to follow the posted terms or you cannot contact the buyer;</li>
		<li>manipulate the price of any item or interfere with any other user's listings;</li>
		<li>post false, inaccurate, misleading, defamatory, or libelous content;</li>
		<li>take any action that may undermine the reporting systems;</li>
		<li>transfer your Andover Book Exchange account to another party without our consent;</li>
		<li>distribute or post spam, unsolicited or bulk electronic communications, or chain letters;</li>
		<li>reproduce, perform, display, distribute, reverse engineer, or prepare derivative works from content that belongs to or is licensed to Andover Book Exchange, or that comes from a third party including works covered by any copyrights, trademark, patent, or other intellectual property right, except with prior express permission of Andover Book Exchange and/or any other party holding the right to license such use;</li>
		<li>harvest or otherwise collect information about users without their consent; or</li>
		<li>circumvent any technical measures we use to provide the services.</li>
	</ul>

	<p>If we believe or discover that you are abusing Andover Book Exchange in any of the ways mentioned above or otherwise, we may, in our sole discretion, take any steps to prevent and mitigate such abuse such as limiting, suspending, or terminating your user account(s) and access to our services, delaying or removing hosted content, removing any special status associated with your account(s), and taking technical and/or legal steps to prevent you from using our services.</p>

	<p>We may cancel unconfirmed accounts or accounts that have been inactive for a long time or modify or discontinue our services. Additionally, we reserve the right to refuse or terminate our services to anyone for any reason at our discretion.</p>

	<p>Users of our services agree to indemnify and hold Andover Book Exchange harmless, and their respective officers and representatives, from and against liability for all claims, losses, damages, and expenses, including reasonable attorney fees.</p>

	

</div>


