<a href= <%= book_path(book) %> class="thumbnail text-center">
	<%= image_tag "book.svg" %>
	<div class="caption">
		<h3 class='resize'><%= truncate(book.title, length:25) %></h3>
		<h5 class='resize'><%= truncate(book.author) %></h5>
	</div>
</a>