<div class="row">

	<div class="nested-fields">
	
	<div class="col-md-11">
		<%= f.input :name %>
		<%= f.input :teacher %>
		<%= f.input :subject, collection:SUBJECTS, label_method: :fullname %>
	</div>
	
	<div class="col-md-1">
		<%= link_to_remove_association 'Remove Course', f, class:'btn btn-sm btn-danger' %>
	</div
	
	</div>
	
</div>
	