<div class="page-header">
  <h1>Step 1: Search for the book you want to sell... </h1>
</div>
<br>

<div class="row col-md-6 col-md-offset-1">

  <%= form_tag(create_sell_books_path, method: "post", :class => "form-horizontal", role: 'form') do %>
  
  <div class="form-group">
  	<%= text_field_tag :isbn, nil, :placeholder=>"ISBN", class: "form-control"%>
  	
  	<%= submit_tag "Search",  class: 'btn btn-success' %>
  </div>
  
<% end %>






</div>