<h1>All Books</h1>
<h4 class='text-right'> <%= link_to 'Search by Course', courses_path, class:'btn btn-default' %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Course</th>
      <th>ISBN</th>
    </tr>
  </thead>

  <tbody>
    <%= render @books %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path, class:'btn btn-primary'%>
<%= link_to 'Cancel', :back, class: 'btn btn-default' %>