<div class="page-header">
  <h1>Books</h1>
</div>

<div class="row">
	<div class="col-xs-6">
		<form class="navbar-form navbar-left" role="search">
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Search Books" name="search">
		  </div>
		  <button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
	<div class="col-xs-6">
		<h4 class='text-right'> 
			<%= link_to 'New Book', new_book_path, class:'btn btn-lg btn-primary'%>
			<%= link_to 'Search by Course', courses_path, class:'btn btn-lg btn-default' %>
		</h4>
	</div>
</div>
<br>

<div class="row-fluid">
    <% @books.each do |book| %>
		<div class="col-xs-3">
			<%= render book %>
		</div>
	<% end %>
</div>

<br>
<br>