<a href=<%= course_path(course) %> class="thumbnail">
	<p style="text-align:left;">
		<h4><%= course.name + " | " %> <small><%= course.teacher %></small>
		<span style="float:right;"><%= show_subject(course) %> ||| </span></h4>
	</p>
</a>

