 <a href=<%= course_path(course) %> class="thumbnail text-center">
	<div class="caption">
	<tbody>
		<td><%= course.name %></td>
		<td><%= course.teacher %></td>
		<td> <%= show_subject(course) %> </td>
	</tbody>
	</div>
</a>

