<a href=<%= course_path(course) %> class="thumbnail"  style="text-decoration:none;">
		<h4><%= course.name%> <small><%=course.teacher %></small>
		<span style="float:right;"><%= show_subject(course, true) %> ||| </span></h4>
</a>

