<div class="page-header">
  <h1>Courses</h1>
</div>

<div class="row">
	<form class="navbar-form navbar-left" role="search">
	  <div class="form-group">
	    <input type="text"  class="form-control" placeholder="Search Courses" name="search" data-provide="typeahead" data-source='<%= @courses %>' matcher="search(query)">
	  </div>
	  <button type="submit" class="btn btn-default">Search</button>
	</form>
</div>
<br>


<% @courses.each do |course| %>
	<div class="row">
		<%= render course %>
	</div>
<% end %>

<br>
<%= link_to 'New Course', new_course_path, class:'btn btn-primary' %>
<br>