<div class="page-header">
	<h1>Courses</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<form class="navbar-form" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name or Teacher" name="search">
			</div>
			<button type="submit" class="btn btn-info">Search</button>
		</form>
	</div>
	<div class="col-md-6 text-right">
		<% if can? :modify, Course %>
			<%= link_to 'New Course', new_course_path, class:'btn btn-primary' %>
		<% end %>
	</div>
</div>

<br>
<% @courses.each do |course| %>
	<div class="row-offset-1">
		<%= render course %>
	</div>
<% end %>