@import "readable";
@import "font-awesome";

.btn-xl {  
    padding: 20px 30px;
    font-size: 50px;
    line-height: 2;
    border-radius: 0px;
}

a.thumbnail-book {
  color: #333333; 
  text-decoration:none;
  border: 2px solid #dddddd;
}

a.thumbnail-book:hover,
a.thumbnail-book:focus,
a.thumbnail-book.active {
  border: 2px solid #ffffff;
}

@font-face {
  font-family: 'SpecialElite';    
  src: url('/assets/SpecialElite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VeteranType';    
  src: url('/assets/veteran_typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

