@import "readable";
@import "font-awesome";

.btn-xl {  
    padding: 20px 30px;
    font-size: 32px;
    line-height: 2;
    border-radius: 0px
}

@font-face {
  font-family: 'SpecialElite';    
  src: url('/assets/SpecialElite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VeteranType';    
  src: url('/assets/veteran_typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}