@import "readable";
@import "font-awesome";

.btn-xl {  
    padding: 20px 30px;
    font-size: 32px;
    line-height: 2;
    border-radius: 0px
}

@font-face {
  font-family: 'SpecialElite';    
  src: url('/assets/SpecialElite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VeteranType';    
  src: url('/assets/veteran_typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}