

	<div class="row">	
		<div class="col-sm-6 col-sm-offset-3">
			<%=  image_tag "logo_final.png", class: "img-responsive" %>
		</div>
			
	</div>
	
	<div class="row text-center">
		<%= link_to 'Sign up',  new_user_registration_path, class: 'btn btn-lg outline' %> &nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to 'Log in', new_user_session_path, class: 'btn btn-lg outline' %>
	</div>
