<div class="page-header">
  <h1>Reports</h1>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
    <th> Book </th>
    <th> Report </th>
    <th> User </th>

  </thead>

  <tbody>
    <%= render @reports %>
  </tbody>
</table>


