<footer class="footer">
  <small>
    <%= link_to  "PA Book Exchange", root_path %> by Abhinav Venigalla and Ryan Brigden
  </small>
  <nav>
    <ul>
      <li><%= link_to "About / Contact",   '#' %></li>
    </ul>
  </nav>
</footer>