<div id="footer">
  <div class="container">
    <p class="text-muted credit">
    	<%= link_to "Andover Book Exchange", root_url %> designed by Ryan Brigden and Abhinav Venigalla.
    </p>
  </div>
</div>
